@layer components {
    .mixin-button-like {
        @apply flex items-center box-border select-none;

        &--static {
            @apply cursor-auto;
        }

        &:not(.mixin-button-like--static) {
            @apply transition-colors cursor-pointer;
        }
    }

    .mixin-button-sm {
        @apply gap-2 px-4 py-1 text-sm rounded-lg;
    }

    .mixin-button-base {
        @apply gap-2 px-4 py-1.5 text-base rounded-lg;
    }

    .mixin-textarea-any {
        @apply rounded-md overflow-hidden;

        > textarea {
            @apply block w-full transition-colors leading-none resize-none p-2 rounded-t-md;
        }

        [data-role="footer"] {
            @apply w-full border-t;
        }

        [data-role="counter"] {
            @apply w-fit ml-auto px-2 text-xs border-l;
        }
    }

    .mixin-char-input-like {
        @apply after:content-['.'] relative;

        > input {
            @apply absolute inset-0 transition-colors;
        }
    }

    .mixin-char-input-sm {
        @apply mixin-button-sm;

        > input {
            @apply mixin-button-sm absolute inset-0 transition-colors;
        }
    }

    .mixin-char-input-base {
        @apply mixin-button-base;
        // OVERRIDE
        @apply px-2;

        > input {
            @apply mixin-button-base absolute inset-0 transition-colors;
            // OVERRIDE
            @apply px-2;
        }
    }

    .mixin-page-like {
        @apply flex flex-col grow;
    }

    .mixin-page-base {
        > [data-role="page-section"] {
            @apply p-4;
        }
    }

    .mixin-panel-like {
        @apply grow max-h-full w-full;
    }

    .mixin-panel-base {
        @apply max-w-72 sm:max-w-prose rounded-lg;

        > [data-role="panel-section"] {
            @apply p-4;
        }
    }

    .mixin-checkbox-like {
        @apply cursor-pointer relative rounded-full;

        [data-role="inner-part"] {
            @apply after:content-['.'] 
                after:flex 
                after:opacity-0
                after:aspect-square
                after:h-2
                after:w-2
                after:pointer-events-none
                transition-colors 
                rounded-full;
        }

        > input {
            @apply absolute 
            inset-0 
            opacity-0 
            cursor-pointer;
        }
    }

    .mixin-checkbox-sm {
        @apply p-1 text-sm leading-none;

        > input {
            @apply p-1 text-sm leading-none absolute inset-0 transition-colors;
        }
    }

    .mixin-Pcard-like {
        @apply rounded-lg overflow-hidden;
    }

    .mixin-Pcard-base {
        > [data-role="Pcard-section"] {
            @apply px-4 py-3;
        }
    }

    .mixin-content-grid {
        $full: 100%;
        $lg: 900px;
        $base: 700px;
        $sm: 450px;

        &[data-default-track] {
            & > * {
                width: 100%;
                margin: 0 auto;
            }
        }

        &:not([data-default-track]) {
            & > * {
                max-width: $base;
                width: 100%;
                margin: 0 auto;
            }
        }

        &[data-default-track="full"] {
            & > * {
                max-width: $full;
            }
        }

        &[data-default-track="lg"] {
            & > * {
                max-width: $lg;
            }
        }

        &[data-default-track="base"] {
            & > * {
                max-width: $base;
            }
        }

        &[data-default-track="sm"] {
            & > * {
                max-width: $sm;
            }
        }

        > [data-track] {
            width: 100%;
            margin: 0 auto;
        }

        > [data-track="full"] {
            max-width: $full;
        }

        > [data-track="lg"] {
            max-width: $lg;
        }

        > [data-track="base"] {
            max-width: $base;
        }

        > [data-track="sm"] {
            max-width: $sm;
        }
    }
}
