stages:
  - deploy

deploy:
  stage: deploy
  image: ruby:3.1
  script:
    - mkdir -p ~/.ssh
    - ssh-keyscan -H $HETZNER_IPV4 >> ~/.ssh/known_hosts
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa_gitlab
    - chmod 600 ~/.ssh/id_rsa_gitlab
    
    # SSH command to interact with the server
    - ssh -i ~/.ssh/id_rsa_gitlab root@$HETZNER_IPV4 "
        mkdir -p /root/Dotnet-React-Order-Display-System-Microservice;
        cd /root/Dotnet-React-Order-Display-System-Microservice;

        if [ ! -d .git ]; then
          echo 'Cloning repository...';
          git clone https://gitlab.com/m-7ard/Dotnet-React-Order-Display-System-Microservice.git .;
        else
          echo 'Repository exists, pulling latest changes...';
          git reset --hard;
          git pull origin master;
        fi;

        echo "VITE_API_URL=http://${HETZNER_IPV4}:3100" > frontend/.env.production;
        echo "VITE_FILE_SERVER_URL=http://${HETZNER_IPV4}:3000" >> frontend/.env.production;
        echo "VITE_AUTH_URL=http://${HETZNER_IPV4}:8000" >> frontend/.env.production;

        echo 'VITE_API_URL=http://${HETZNER_IPV4}:3000' > auth/.env;
  
        docker compose down || true;
        echo 'XXXX AFTER DOWN XXXX';
        docker system prune -af;
        echo 'XXXX AFTER PRUNE XXXX';

        docker compose build;
        echo 'XXXX AFTER BUILD XXXX';

      "
  only:
    - master